!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(content="width=device-width, initial-scale=1.0 user-scalable=no" name="viewport")

    %title= @title

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    %link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

  %body.grey-text
    -if request.fullpath == "/"
      = render "parts/header"
      = render "parts/windmill"
      = render "layouts/page_css"
    - else
      = render "layouts/page_css_dont_move"
      = render "parts/header2"
    = yield
    = render "parts/notice"
    = javascript_include_tag 'application'
