#main_container
  .containers#main_content
    .center
      %h4.indigo-text.thin Blog.all
    .row
      - @blogs.each do |blog|
        .col.l3.s12.m4.waves-effect.waves-light
          .card
            .card-image
              = link_to blog do
                = image_tag blog.image.thumb.url
            .card-content
              = link_to blog do
                %h6.card-title.indigo-text= truncate(blog.title,length: 8)
                
              - unless blog.tags.blank?
                - blog.tags.split(",").each do |tag|
                  .chip.cyan.white-text.waves-effect.waves-light
                    = tag
              .right-align
                %span.font_size_12.thin_300.black-text= blog.created_at.strftime("%Y-%m-%d")
              
            .card-action
              = link_to "詳しく読む",blog


- if user_signed_in?
  .fixed-action-btn
    /%a.btn-floating.btn-large.blue.darken-3()
    = link_to new_blog_path, class: "btn-floating btn-large blue darken-3" do
      %i.material-icons edit
