#main_container
  .containers#main_content
    .center
      %h4.indigo-text.thin Blog.all
    .row
      - @blogs.each do |blog|
        .col.l3.s12.m4.waves-effect.waves-light
          = link_to blog do
            .card
              .card-image
                = image_tag blog.image.thumb.url
              .card-content
                %span.card-title.indigo-text= blog.title
                .right-align
                  %span.font_size_12.thin_300.black-text= blog.created_at.strftime("%Y-%m-%d")
              .card-action
                = link_to "詳しく読む",blog
                      
