
#main_container
  .container#main_content
    .card-panel.black-text.thin_300
      %p#notice= notice
      
      %p
        %b Title:
        = @blog.title
      %p
        %b Body:
        = simple_format @blog.body
      %p
        %b Image:
        = image_tag @blog.image.thumb,class: "responsive-img"
      %p
        %b User:
        = @blog.user.name
      
      = link_to 'Back', blogs_path
