#main_container
  .container#main_content
    .card-panel.black-text.thin_300
      .center
        = image_tag @blog.image, width: 120,class: "circle"
      %h4.center= @blog.title
      %p= simple_format @blog.body

      = image_tag @blog.image.thumb,class: "responsive-img"

      .right-align
        %span.font_size_14= @blog.created_at.strftime("%Y-%m-%d")
      
    = link_to "一覧に戻る", blogs_path

    - if user_signed_in?
      = link_to "記事を編集する", edit_blog_path(@blog), class: "right teal-text"
