%header.navbar-fixed
  %nav.nav-wrapper
    = link_to "Season's Call",:root,class: "brand-logo center white-text thin lato"
    %a(href="#" data-activates="mobile-demo" class="button-collapse" id="menu_posit")
      %i.material-icons menu

    %ul.right.hide-on-med-and-down
      - ["ブログ","作品集"].each do |tag|
        %li= link_to tag,:root,class: "thin waves-effect waves-light"
      %li= link_to "このサイトについて", about_index_path, class: "thin waves-effect waves-light"
    
    %ul.side-nav#mobile-demo
      - ["ブログ","作品集"].each do |tag|
        %li= link_to tag,:root,class: "thin waves-effect waves-light"
      %li= link_to "このサイトについて", about_index_path, class: "thin waves-effect waves-light"

